.circle {
    width: 64px;
    height: 64px;
    background-color: red;
    border-radius: 100%;
}

.content {
    color: green !important;
}

#link-gradient {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 64px 128px;
    justify-content: flex-start;
    align-content: flex-end;
    height: 100vh;
    background-color: green;
}